
.con1 {
  background-color: #ffffff;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 200px;
  border-radius: 10px;
}
.image {
   width: 100px;
  height: 100px;
}
.heading {
  font-size: 20px;
  color: #1e293b;
}